[Unit]
Description=Docker to Host Communication
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/env python3 /srv/www/aux-cli-web.py

[Install]
WantedBy=multi-user.target