[Unit]
Description=Verifies WPA settings work with wlan0 and wlan1.
After=auxcli-dnsmasq-checker.service
StartLimitIntervalSec=0

[Service]
Type=simple
User=root
ExecStart=/usr/bin/env bash /lib/auxcli/commands/helper/wpa-checker

[Install]
WantedBy=multi-user.target