[Unit]
Description=Checks if the hostname/mac needs to be updated for hotspot.
After=auxcli-wpa-checker.service
StartLimitIntervalSec=0

[Service]
Type=simple
User=root
ExecStart=/usr/bin/env bash /lib/auxcli/commands/helper/hotspot-checker

[Install]
WantedBy=multi-user.target