[Unit]
Description=First Boot Setup for casualOS.
After=auxcli-reboot-reset.service
StartLimitIntervalSec=0

[Service]
Type=simple
User=root
ExecStart=/usr/bin/env bash /lib/auxcli/commands/helper/first-boot

[Install]
WantedBy=multi-user.target