[Unit]
Description=Verifies WPA settings work with wlan0 and wlan1.
After=auxcli-dnsmasq-checker.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/env auxcli wpa-checker

[Install]
WantedBy=multi-user.target