[Unit]
Description=Checks if the hostname/mac needs to be updated for hotspot.
After=auxcli-reboot-reset.service auxcli-wpa-checker.service
Before=auxcli-first-boot.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/env bash /lib/auxcli/commands/helper/hotspot-checker

[Install]
WantedBy=multi-user.target