[Unit]
Description=Verifies WPA settings work with wlan0 and wlan1.
After=auxcli-reboot-reset.service auxcli-dnsmasq-checker.service
Before=auxcli-first-boot.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/env bash /lib/auxcli/commands/helper/wpa-checker

[Install]
WantedBy=multi-user.target