[Unit]
Description=Extend IP Range and Timeout for dnsmasq
After=auxcli-wlan-checker.service
StartLimitIntervalSec=0

[Service]
Type=simple
User=root
ExecStart=/usr/bin/env bash /lib/auxcli/commands/helper/dnsmasq-checker

[Install]
WantedBy=multi-user.target