[Unit]
Description=Resets reboot flags to false.
After=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
Restart=no
User=pi
ExecStart=/usr/bin/env bash /lib/auxcli/commands/helper/reboot-reset

[Install]
WantedBy=multi-user.target