[Unit]
Description=Bluetooth Serial Scan
After=auxcli-web.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/env bash /lib/auxcli/commands/helper/bt-serial-scan

[Install]
WantedBy=multi-user.target