[Unit]
Description=Bluetooth Tether
After=auxcli-hotspot-checker.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/env bash /lib/auxcli/commands/helper/auxcli-bt-tether

[Install]
WantedBy=multi-user.target