[Unit]
Description=Check for another WLAN
After=auxcli-reboot-reset.service
StartLimitIntervalSec=0

[Service]
Type=oneshot
Restart=no
User=pi
ExecStart=/usr/bin/env bash /lib/auxcli/commands/helper/wlan-checker

[Install]
WantedBy=multi-user.target