[Unit]
Description=Check for another WLAN
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/env bash /lib/auxcli/commands/helper/wlan-checker

[Install]
WantedBy=multi-user.target